@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.claimSection {
  height: fit-content;
  padding: 24px;
  background: linear-gradient(
    135deg,
    rgb(0 188.39 124.77 / 10%),
    rgb(43.18 127 255 / 10%) 100%
  );
  border: 1px solid rgb(0 188 125 / 30%);
  border-radius: 14px;
}

.claimHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.iconWrapper {
  padding: 10px;
  background: linear-gradient(
    135deg,
    rgb(0 188.39 124.77 / 10%),
    rgb(43.18 127 255 / 10%) 100%
  );
  border: 1px solid rgb(0 188 125 / 30%);
  border-radius: 14px;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.description {
  font-weight: 500;
  color: $color-secondary;
}

.claimContent {
  margin-bottom: 40px;
}

.claimTimer {
  @include flex-between;

  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: $color-secondary;

  span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    color: $color-primary;
  }
}

.claimAmount {
  @include flex-between;

  font-size: 16px;
  font-weight: 500;
  color: $color-secondary;

  span {
    font-weight: 700;
    color: $color-accent;
  }
}

.claimBtn {
  width: 100%;
  padding: 8px 0;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgb(0 152.73 101.74 / 100%),
    rgb(0 166.08 61.71 / 100%) 100%
  );
  border-radius: $radius-8;
  transition: opacity 0.3s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
