@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.canvasWrapper {
  padding: 24px;
  background: rgb(29 41 61 / 50%);
  border: 1px solid rgb(20 71 230 / 30%);
  border-radius: 14px;
}

.gameArea {
  @include flex-center;

  position: relative;
  width: 100%;
  height: 317px;
  margin-bottom: 17px;
  background-color: #1a1d28;
  border-radius: 4px;
}

.label {
  margin-bottom: 8.5px;
  font-size: 16px;
  font-weight: 500;
  color: $color-secondary;
}

.controlGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;

  input {
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    background: rgb(15 23 43 / 100%);
    border: 1px solid rgb(49 65 88 / 100%);
    border-radius: $radius-8;
    opacity: 0.5;
  }

  .startBtn,
  .cashoutBtn {
    width: 100%;
    padding: 8px 0;
    font-weight: 500;
    border-radius: $radius-8;
  }

  .startBtn {
    background: rgb(193 193 193 / 100%);
  }

  .cashoutBtn {
    background: linear-gradient(
      90deg,
      rgb(0 166.08 61.71 / 100%),
      rgb(0 152.73 101.74 / 100%) 100%
    );
  }
}

.quickBets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  button {
    padding: 9px 0;
    font-weight: 500;
    color: $color-secondary;
    background: rgb(15 23 43 / 50%);
    border: 1px solid rgb(49 65 88 / 100%);
    border-radius: 4px;
    opacity: 0.5;
  }
}

.multiplierContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  text-align: center;
  transform: translate(-50%, -50%);
}

.multiplier {
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 0 0 20px rgb(255 255 255 / 20%);
  color: white;

  font-variant-numeric: tabular-nums;

  &.crashed {
    color: $color-danger;
  }
}

.crashedText {
  margin-top: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-danger;
}

.rocket {
  position: absolute;
  bottom: 20%;
  left: 20%;
  font-size: 3rem;
  transition: all 0.5s ease-out;

  &[data-state="FLYING"] {
    bottom: 50%;
    left: 50%;
    animation: fly 2s infinite alternate;
    transform: translate(-50%, -50%) scale(1.5);
  }

  &[data-state="CRASHED"] {
    filter: grayscale(100%) blur(2px);
    transform: scale(0.8) rotate(45deg);
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }

  100% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
}

.success {
  color: $color-success;
}

.winText {
  margin-top: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-success;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
