@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.gameWrapper {
  margin-bottom: 24px;
  padding: 4.5px 4px 2.5px 4px;
  border: 1px solid rgba(20, 71, 230, 0.3);
  border-radius: $radius-14;
  background: rgba(29, 41, 61, 0.5);
}

.gameButton {
  padding: 4.5px 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: $radius-14;
  background: linear-gradient(
    90deg,
    rgba(21.32, 92.93, 251.52, 1),
    rgba(152.19, 15.74, 250.25, 1) 100%
  );
}
