@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.header {
  padding: 19px 0;
  border-bottom: undefinedpx solid rgba(28, 57, 142, 0.3);
  background: rgba(15, 23, 43, 0.8);
}

.headerInner {
  @include flex-between;
}

.logo {
  display: flex;
  gap: 12px;
  font-weight: 700;
  font-size: 16px;
}

.headerActions {
  display: flex;
  gap: 12px;
}

.balance {
  @include flex-center;
  gap: 8px;
  padding: 9px 16px;

  border: 1px solid rgba(0, 122, 85, 0.5);
  border-radius: $radius-10;
  background: linear-gradient(
    90deg,
    rgba(0, 78.57, 58.61, 0.3),
    rgba(27.81, 56.66, 142.17, 0.3) 50%,
    rgba(89.43, 22.26, 139.02, 0.3) 100%
  );

  .icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .amount {
    font-weight: 700;
    font-size: 16px;
  }
}

.profileBtn {
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.logoutButton {
  @include flex-center;
  gap: 14px;
  padding: 6px 10px;
  border: 1px solid rgba(49, 65, 88, 1);
  border-radius: 8px;
  background: rgba(29, 41, 61, 0.5);
}
