@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.header {
  padding: 19px 0;
  background: rgb(15 23 43 / 80%);
  border-bottom: undefinedpx solid rgb(28 57 142 / 30%);
}

.headerInner {
  @include flex-between;
}

.logo {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: $color-primary;
  cursor: pointer;
}

.headerActions {
  display: flex;
  gap: 12px;
}

.balance {
  @include flex-center;

  gap: 8px;
  padding: 9px 16px;
  background: linear-gradient(
    90deg,
    rgb(0 78.57 58.61 / 30%),
    rgb(27.81 56.66 142.17 / 30%) 50%,
    rgb(89.43 22.26 139.02 / 30%) 100%
  );
  border: 1px solid rgb(0 122 85 / 50%);
  border-radius: $radius-10;

  .icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .amount {
    font-size: 16px;
    font-weight: 700;
  }
}

.profileBtn {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 50%;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.logoutButton {
  @include flex-center;

  gap: 14px;
  padding: 6px 10px;
  background: rgb(29 41 61 / 50%);
  border: 1px solid rgb(49 65 88 / 100%);
  border-radius: 8px;
}
