@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.leaderboardSection {
  padding: 25px;
  background: rgb(29 41 61 / 50%);
  border: 1px solid rgb(20 71 230 / 30%);
  border-radius: 14px;
}

.leaderboardHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.subtitle {
  font-weight: 500;
  color: #cad5e2;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 168px;

  &::after {
    display: block;
    height: 1px;
    margin-top: 32px;
    background-color: #314158;

    content: "";
  }

  li {
    display: grid;
    align-items: center;
    grid-template-columns: 20px 1fr;
    gap: 12px;
    padding: 12px;
    background: rgb(15 23 43 / 50%);
    border-radius: 10px;
    transition: $transition-base;
    overflow-y: hidden;

    &:hover {
      background: linear-gradient(
        90deg,
        rgb(43.18 127 255 / 20%),
        rgb(172.87 70.37 255 / 20%) 100%
      );
    }
  }
}

.playerInfo {
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 12px;
  width: 100%;
}

.username {
  font-size: 16px;
  font-weight: 700;
}

.gamesPlayed {
  font-size: 12px;
  font-weight: 500;
  color: $color-secondary;
}

.win {
  font-size: 16px;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(
    90deg,
    #0000 0%,
    #51a2ffff 0%,
    #c27affff 100%
  );
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.winRate {
  font-size: 12px;
  font-weight: 500;
  color: #90a1b9;
}

.currentUser {
  background: rgba($color-primary, 0.1) !important;
  border: 2px solid $color-primary !important;

  .username {
    font-weight: 700;
    color: $color-primary;
  }
}

.ownRank {
  display: block;
  padding-top: 18px;
  font-weight: 500;
  text-align: center;
  color: $color-secondary;
  border-top: 1px solid rgb(49 65 88 / 100%);
}

.loading {
  padding: 40px;
  font-size: 16px;
  text-align: center;
  color: $color-secondary;
}

.error {
  padding: 40px;
  font-size: 16px;
  text-align: center;
  color: #ff6b6b;
}
