@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.leaderboardSection {
  padding: 25px;
  border: 1px solid rgb(20 71 230 / 30%);
  border-radius: 14px;
  background: rgb(29 41 61 / 50%);
}

.leaderboardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 12px;
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.subtitle {
  color: #cad5e2;
  font-weight: 500;
}

.listContainer {
  display: flex;
  flex-direction: column;
  min-height: 168px;
  gap: 8px;

  &::after {
    display: block;
    height: 1px;
    margin-top: 32px;
    background-color: #314158;

    content: "";
  }

  li {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    padding: 12px;
    overflow-y: hidden;
    gap: 12px;
    border-radius: 10px;
    background: rgb(15 23 43 / 50%);
    transition: $transition-base;

    &:hover {
      background: linear-gradient(
        90deg,
        rgb(43.18 127 255 / 20%),
        rgb(172.87 70.37 255 / 20%) 100%
      );
    }
  }
}

.playerInfo {
  display: grid;
  grid-template-columns: 1fr 30%;
  width: 100%;
  gap: 12px;
}

.username {
  font-weight: 700;
  font-size: 16px;
}

.gamesPlayed {
  color: $color-secondary;
  font-weight: 500;
  font-size: 12px;
}

.win {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #0000 0%, #51a2ffff 0%, #c27affff 100%);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 16px;
}

.winRate {
  color: #90a1b9;
  font-weight: 500;
  font-size: 12px;
}

.currentUser {
  border: 2px solid $color-primary !important;
  background: rgba($color-primary, 0.1) !important;

  .username {
    color: $color-primary;
    font-weight: 700;
  }
}

.ownRank {
  display: block;
  padding-top: 18px;
  border-top: 1px solid rgb(49 65 88 / 100%);
  color: $color-secondary;
  font-weight: 500;
  text-align: center;
}

.loading {
  padding: 40px;
  color: $color-secondary;
  font-size: 16px;
  text-align: center;
}

.error {
  padding: 40px;
  color: #ff6b6b;
  font-size: 16px;
  text-align: center;
}
