@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.leaderboarSection {
  padding: 25px;
  border: 1px solid rgba(20, 71, 230, 0.3);
  border-radius: 14px;
  background: rgba(29, 41, 61, 0.5);
}

.leaderboardHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.subtitle {
  font-weight: 500;
  color: #cad5e2;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #314158;
    margin-top: 32px;
  }

  li {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    background: rgba(15, 23, 43, 0.5);
    overflow-y: hidden;
    transition: $transition-base;

    &:hover {
      background: linear-gradient(
        90deg,
        rgba(43.18, 127, 255, 0.2),
        rgba(172.87, 70.37, 255, 0.2) 100%
      );
    }
  }
}

.playerInfo {
  display: grid;
  grid-template-columns: 1fr 30%;
  width: 100%;
  gap: 12px;
}

.username {
  font-weight: 700;
  font-size: 16px;
}

.gamesPlayed {
  font-weight: 500;
  font-size: 12px;
  color: $color-secondary;
}

.win {
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(
    90deg,
    #00000000 0%,
    #51a2ffff 0%,
    #c27affff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.winRate {
  color: #90a1b9;
  font-weight: 500;
  font-size: 12px;
}

.ownRank {
  display: block;
  padding-top: 18px;
  font-weight: 500;
  text-align: center;
  color: $color-secondary;
  border-top: 1px solid rgba(49, 65, 88, 1);
}
