@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.profileContainer {
}

.profileTitle {
  font-size: 18px;
  margin-bottom: 9px;
}

.profileSubtitle {
  color: #90a1b9;
  margin-bottom: 32px;
}

.labelWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.inputGroup {
  text-align: left;
  margin-bottom: 8px;

  label {
    display: block;
    font-weight: 500;
    color: #cad5e2;
  }

  input {
    width: 100%;
    padding: 9.5px 12px;
    border-radius: $radius-8;
    color: #cad5e2;
    border: 1px solid rgba(49, 65, 88, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0.49px rgba(161, 161, 161, 0.08);
    background: rgba(29, 41, 61, 1);

    transition: $transition-base;

    &::placeholder {
      color: #717182;
    }

    &:focus {
      outline: none;
      border-color: $color-primary;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.characters {
  margin-bottom: 8px;
  font-size: 12px;
  color: #90a1b9;
}

.amountStats {
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 16px;
  background: rgba(29, 41, 61, 0.5);
}

.titleStats {
  margin-bottom: 8px;
  font-size: 16px;
  color: $color-secondary;
}

.statsWrapper {
  display: flex;
  gap: 117px;
  display: flex;
}

.statsGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #90a1b9;
}

.balance {
  display: flex;
  flex-direction: column;

  span {
    display: block;
    margin-top: 4px;
    color: $color-primary;
  }
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.saveBtn {
  background: linear-gradient(
    90deg,
    rgba(21.32, 92.93, 251.52, 1),
    rgba(152.19, 15.74, 250.25, 1) 100%
  );
}

.resetBtn {
  background: rgba(212, 24, 61, 1);
}
