@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.profileTitle {
  margin-bottom: 9px;
  font-size: 18px;
}

.profileSubtitle {
  margin-bottom: 32px;
  color: #90a1b9;
}

.labelWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.inputGroup {
  margin-bottom: 8px;
  text-align: left;

  label {
    display: block;
    font-weight: 500;
    color: #cad5e2;
  }

  input {
    width: 100%;
    padding: 9.5px 12px;
    color: #cad5e2;
    background: rgb(29 41 61 / 100%);
    border: 1px solid rgb(49 65 88 / 100%);
    border-radius: $radius-8;
    border-radius: 8px;
    box-shadow: 0 0 0 0.49px rgb(161 161 161 / 8%);
    transition: $transition-base;

    &::placeholder {
      color: #717182;
    }

    &:focus {
      background: rgb(0 0 0 / 30%);
      border-color: $color-primary;
      outline: none;
    }
  }
}

.characters {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-size: 12px;
  color: #90a1b9;
}

.amountStats {
  margin-bottom: 24px;
  padding: 16px;
  background: rgb(29 41 61 / 50%);
  border-radius: 10px;
}

.titleStats {
  margin-bottom: 8px;
  font-size: 16px;
  color: $color-secondary;
}

.statsWrapper {
  display: flex;
  gap: 117px;
}

.statsGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #90a1b9;
}

.balance {
  display: flex;
  flex-direction: column;

  span {
    display: block;
    margin-top: 4px;
    color: $color-primary;
  }
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.saveBtn {
  background: linear-gradient(
    90deg,
    rgb(21.32 92.93 251.52 / 100%),
    rgb(152.19 15.74 250.25 / 100%) 100%
  );
}

.resetBtn {
  background: rgb(212 24 61 / 100%);
}
