@use "../../styles" as *;

.claimSection {
  height: fit-content;
  padding: 24px;
  border: 1px solid rgb(0 188 125 / 30%);
  border-radius: 14px;
  background: linear-gradient(
    135deg,
    rgb(0 188.39 124.77 / 10%),
    rgb(43.18 127 255 / 10%) 100%
  );
}

.claimHeader {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 12px;
}

.iconWrapper {
  padding: 10px;
  border: 1px solid rgb(0 188 125 / 30%);
  border-radius: 14px;
  background: linear-gradient(
    135deg,
    rgb(0 188.39 124.77 / 10%),
    rgb(43.18 127 255 / 10%) 100%
  );
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.description {
  color: var(--color-secondary);
  font-weight: 500;
}

.claimContent {
  margin-bottom: 40px;
}

.claimTimer {
  @include flex-between;

  margin-bottom: 10px;
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 16px;

  span {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-primary);
    font-weight: 700;
  }
}

.claimAmount {
  @include flex-between;
  color: var(--color-secondary);
  font-weight: 500;

  font-size: 16px;

  span {
    color: var(--color-accent);
    font-weight: 700;
  }
}

.claimBtn {
  width: 100%;
  padding: 8px 0;
  border-radius: var(--radius-8);
  background: linear-gradient(
    90deg,
    rgb(0 152.73 101.74 / 100%),
    rgb(0 166.08 61.71 / 100%) 100%
  );
  font-weight: 500;
  transition: opacity 0.3s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
