@use "../../styles" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submitBtn {
  @include flex-center;
  width: 100%;
  padding: 10px 0;

  gap: 7px;
  border: none;
  background: linear-gradient(
    90deg,
    rgb(0 152.7294158935547 101.7408218383789 / 100%),
    rgb(21.32286262512207 92.9263687133789 251.51747131347656 / 100%) 100%
  );
  background-position: left;
  background-size: 200% 100%;
  color: #fff;
  font-size: 16px;
  transition: var(--transition-base);

  &:hover {
    background-position: right;
  }
}

.linkWrapper {
  margin-top: 3px;
}

.link {
  color: #51a2ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
