@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  text-align: left;

  label {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
    color: #cad5e2;
  }

  input {
    width: 100%;
    padding: 9.5px 12px;
    border-radius: $radius-8;
    border: 1px solid rgba(49, 65, 88, 1);
    color: #cad5e2;
    background: rgba(15, 23, 43, 1);

    transition: $transition-base;

    &::placeholder {
      color: #717182;
    }

    &:focus {
      outline: none;
      border-color: $color-primary;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.submitBtn {
  @include flex-center;
  gap: 7px;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  border: none;

  background: linear-gradient(
    90deg,
    rgba(0, 152.7294158935547, 101.7408218383789, 1),
    rgba(21.32286262512207, 92.9263687133789, 251.51747131347656, 1) 100%
  );
  background-size: 200% 100%;
  background-position: left;

  transition: $transition-base;

  &:hover {
    background-position: right;
  }
}

.linkWrapper {
  margin-top: 3px;
}

.link {
  color: #51a2ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.errorMessage {
  color: $color-danger;
  font-size: 0.85rem;
  margin-top: 4px;
  display: block;
  animation: slideDown 0.2s ease-out;
}

.errorInput {
  border-color: $color-danger !important;

  &:focus {
    box-shadow: 0 0 0 2px rgba($color-danger, 0.2) !important;
  }
}
