@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  text-align: left;

  label {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
    color: #cad5e2;
  }

  input {
    width: 100%;
    padding: 9.5px 12px;
    color: #cad5e2;
    background: rgb(15 23 43 / 100%);
    border: 1px solid rgb(49 65 88 / 100%);
    border-radius: $radius-8;
    transition: $transition-base;

    &::placeholder {
      color: #717182;
    }

    &:focus {
      background: rgb(0 0 0 / 30%);
      border-color: $color-primary;
      outline: none;
    }
  }
}

.submitBtn {
  @include flex-center;

  gap: 7px;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(0 152.7294158935547 101.7408218383789 / 100%),
    rgb(21.32286262512207 92.9263687133789 251.51747131347656 / 100%) 100%
  );
  background-position: left;
  background-size: 200% 100%;
  border: none;
  transition: $transition-base;

  &:hover {
    background-position: right;
  }
}

.linkWrapper {
  margin-top: 3px;
}

.link {
  text-decoration: none;
  color: #51a2ff;

  &:hover {
    text-decoration: underline;
  }
}
