@use "../../styles" as *;

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;

  @include tablet {
    padding: 0 48px;
  }

  // @include desktop {
  //   padding: 0 112px;
  // }
}
