@use "../../styles" as *;

.inputWrapper {
  width: 100%;
}

.inputGroup {
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 4px;
  color: var(--color-secondary);
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 9.5px 12px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-8);
  background: var(--color-bg-dark);
  color: var(--color-secondary);
  transition: var(--transition-base);

  &::placeholder {
    color: var(--color-text-secondary-alt);
  }

  &:focus {
    border-color: var(--color-primary);
    outline: none;
    background: rgb(0 0 0 / 30%);
  }
}
