@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.inputGroup {
  text-align: left;

  label {
    display: block;
    margin-bottom: 4px;
    color: #cad5e2;
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 9.5px 12px;
    border: 1px solid rgb(49 65 88 / 100%);
    border-radius: $radius-8;
    background: rgb(15 23 43 / 100%);
    color: #cad5e2;
    transition: $transition-base;

    &::placeholder {
      color: #717182;
    }

    &:focus {
      border-color: $color-primary;
      outline: none;
      background: rgb(0 0 0 / 30%);
    }
  }
}

.inputWrapper {
  width: 100%;
}
