@use "index" as *;
@use "reset" as *;
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap";

:root {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  letter-spacing: 0.02em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(
      135deg,
      rgb(14.58 22.96 43.04 / 100%),
      rgb(0 78.57 58.61 / 40%) 30%,
      rgb(89.43 22.26 139.02 / 100%) 100%
    ),
    rgb(255 255 255 / 100%);
}

button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--color-bg-secondary);
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1em;

  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--color-primary);
  }

  &:focus,
  &:focus-visible {
    outline: 1px auto -webkit-focus-ring-color;
  }
}

.errorMessage {
  display: block;
  margin-top: 4px;
  color: var(--color-danger);
  font-size: 0.85rem;
  @include slide-down-animation;
}

.errorInput {
  border-color: var(--color-danger) !important;

  &:focus {
    box-shadow: 0 0 0 2px
      color-mix(in srgb, #f44336, transparent 80%) !important;
  }
}
