@use 'variables' as *;
@use 'mixins' as *;
@use 'reset' as *;
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap';

:root {
  color: $color-primary;

  color-scheme: dark;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  letter-spacing: 0.02em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(
      135deg,
      rgb(14.58 22.96 43.04 / 100%),
      rgb(0 78.57 58.61 / 40%) 30%,
      rgb(89.43 22.26 139.02 / 100%) 100%
    ),
    rgb(255 255 255 / 100%);
}

button {
  transition: border-color 0.25s;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: $color-bg-secondary;
  padding: 0.6em 1.2em;
  color: $color-primary;
  font-weight: 500;
  font-size: 1em;

  font-family: inherit;

  &:hover {
    border-color: $color-primary;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.errorMessage {
  display: block;
  animation: slideDown 0.2s ease-out;
  margin-top: 4px;
  color: $color-danger;
  font-size: 0.85rem;
}

.errorInput {
  border-color: $color-danger !important;

  &:focus {
    box-shadow: 0 0 0 2px rgba($color-danger, 0.2) !important;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
