@use "variables" as *;
@use "mixins" as *;
@use "reset" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
:root {
  color: $color-primary;
  color-scheme: dark;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background:
    linear-gradient(
      135deg,
      rgba(14.58, 22.96, 43.04, 1),
      rgba(0, 78.57, 58.61, 0.4) 30%,
      rgba(89.43, 22.26, 139.02, 1) 100%
    ),
    rgba(255, 255, 255, 1);
}

button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: $color-bg-secondary;
  color: $color-text;
  font-weight: 500;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: $color-primary;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
