@use "variables" as *;
@use "mixins" as *;
@use "reset" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: $color-primary;
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;

  background: linear-gradient(135deg, #0f172b, rgba(0, 79, 59, 0.4), #59168b);
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $color-bg-secondary;
  cursor: pointer;
  transition: border-color 0.25s;
  color: $color-text;

  &:hover {
    border-color: $color-primary;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
