@use "../../../styles" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 100%;
  gap: 8px;
}

.cell {
  aspect-ratio: 1;
  border-radius: 10px;
  background: linear-gradient(135deg, #155dfc 0%, #9810fa 100%);
  box-shadow:
    0px 4px 6px -4px #0000001a,
    0px 10px 15px -3px #0000001a;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}
