@use "../../../styles" as *;

.gameOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17px;
  gap: 12px;
  border: 1px solid #c1000780;
  border-radius: var(--radius-10);
  background: #82181a4d;

  &.won {
    border-color: #00a63e80;
    background: #1882414d;
  }
}

.gameOverlayTitle {
  color: #ff5f5f;
  font-weight: 700;
  font-size: 16px;

  &.won {
    color: #4ade80;
  }
}

.wonAmount {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

