@use "../../../styles" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 100%;
  gap: 8px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 10px;
  background: linear-gradient(135deg, #155dfc 0%, #9810fa 100%);
  box-shadow:
    0px 4px 6px -4px #0000001a,
    0px 10px 15px -3px #0000001a;
  color: white;
  cursor: pointer;
  transition: var(--transition-base);

  &:not(.cellSuccess):not(.cellFail):hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #9810fa 0%, #155dfc 100%);
    filter: brightness(1.3);
  }

  &.cellSuccess,
  &.cellFail {
    cursor: default;
  }

  &.cellSuccess {
    background: linear-gradient(135deg, #00a63e 0%, #009966 100%);
  }

  &.cellFail {
    background: linear-gradient(135deg, #e7000b 0%, #9f0712 100%);
  }
}
