@use "../../styles" as *;

.profileTitle {
  margin-bottom: 9px;
  font-size: 18px;
}

.profileSubtitle {
  margin-bottom: 32px;
  color: var(--color-text-muted);
}

.labelWrapper {
  display: flex;
  margin-bottom: 8px;
  gap: 8px;
}

.inputGroup {
  margin-bottom: 8px;
  text-align: left;

  label {
    display: block;
    color: var(--color-secondary);
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 9.5px 12px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-8);
    border-radius: 8px;
    background: var(--color-bg-input);
    box-shadow: 0 0 0 0.49px rgb(161 161 161 / 8%);
    color: var(--color-secondary);
    transition: var(--transition-base);

    &::placeholder {
      color: var(--color-text-secondary-alt);
    }

    &:focus {
      border-color: var(--color-primary);
      outline: none;
      background: rgb(0 0 0 / 30%);
    }
  }
}

.characters {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  color: var(--color-text-muted);
  font-size: 12px;
}

.amountStats {
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 10px;
  background: color-mix(in srgb, #1d293d 50%, transparent);
}

.titleStats {
  margin-bottom: 8px;
  color: var(--color-secondary);
  font-size: 16px;
}

.statsWrapper {
  display: flex;
  gap: 117px;
}

.statsGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-text-muted);
}

.balance {
  display: flex;
  flex-direction: column;

  span {
    display: block;
    margin-top: 4px;
    color: var(--color-primary);
  }
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.saveBtn {
  background: linear-gradient(90deg, #155dfc 0%, #9810fa 100%);
}

.resetBtn {
  background: rgb(212 24 61 / 100%);
}
