@use "../../styles" as *;

.header {
  padding: 19px 0;
  border-bottom: undefinedpx solid rgb(28 57 142 / 30%);
  background: rgb(15 23 43 / 80%);
}

.headerInner {
  @include flex-between;
}

.logo {
  display: flex;
  gap: 12px;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.headerActions {
  display: flex;
  gap: 12px;
}

.balance {
  @include flex-center;
  padding: 9px 16px;

  gap: 8px;
  border: 1px solid rgb(0 122 85 / 50%);
  border-radius: var(--radius-10);
  background: linear-gradient(
    90deg,
    rgb(0 78.57 58.61 / 30%),
    rgb(27.81 56.66 142.17 / 30%) 50%,
    rgb(89.43 22.26 139.02 / 30%) 100%
  );

  .icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .amount {
    font-weight: 700;
    font-size: 16px;
  }
}

.profileBtn {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.logoutButton {
  @include flex-center;
  padding: 6px 10px;

  gap: 14px;
  border: 1px solid rgb(49 65 88 / 100%);
  border-radius: 8px;
  background: rgb(29 41 61 / 50%);
}
