@use "../styles" as *;

.authContainer {
  @include flex-center;

  height: 100vh;
  margin: 0 auto;
  margin: 0 10px;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 440px;
  padding: 33px;
  border: 1px solid rgb(0 122 85 / 50%);
  border-radius: var(--radius-14);
  background: rgb(29 41 61 / 80%);

  .header {
    margin-bottom: 57px;

    .logo {
      margin-bottom: 16px;
    }

    .title {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 30px;
    }

    .subtitle {
      color: #90a1b9;
      font-size: 16px;
    }
  }
}
