@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.authContainer {
  @include flex-center;

  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 440px;
  padding: 33px;
  background: rgb(29 41 61 / 80%);
  border: 1px solid rgb(0 122 85 / 50%);
  border-radius: $radius-14;

  .header {
    margin-bottom: 57px;

    .logo {
      margin-bottom: 16px;
    }

    .title {
      margin-bottom: 8px;
      font-size: 30px;
      font-weight: 400;
    }

    .subtitle {
      font-size: 16px;
      color: #90a1b9;
    }
  }
}
