@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $color-bg;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: $spacing-md;
  overflow-y: auto;
  position: relative;

  @include mobile {
    padding: $spacing-sm;
  }
}
